body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 500px;
  margin: 100px auto;
  box-shadow: 0 0 10px 5px rgba(0,0,0,.05); 
  border-radius: 10px;
}

.App h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.search-container {
  background: #1d3557;
  border-radius: 10px 10px 0 0;
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
}

.results-container {
  background: #fff;
  border-radius: 0 0 10px 10px;
  color: black;
  padding: 4rem 2rem;
  text-align: center;
}

.results-container p {
  font-size: 1.1rem;
}

